div(ng-include='"components/navbar/navbar.html"')
#admin-tabs.container(ng-show='isAdmin()' ng-init='init()')
  h1.page-header Admin Control Panel
  tabset(justified='true')
    tab
      tab-heading
        span.glyphicon.glyphicon-user.text-muted
        | &nbsp;
        b Users Management
      ul.list-group.well
        li.list-group-item(ng-repeat='user in users | orderBy:"role"')
          span.pull-left
            a.text-muted(href="/profile/{{user.name}}")
              img.avatar(gravatar-src="'{{user.email}}'", width=40)
            | &nbsp;&nbsp;&nbsp;
          span
            strong
              a.text-muted(href="/profile/{{user.name}}") {{user.name}}
              | &nbsp;
              span.label.label-danger(ng-show="user.role == 'admin'") Admin
              span.label.label-info(ng-show="user.role == 'user'") User
            br
            small.text-warning {{user.balance | toBTC}} BTC
            small.text-muted
              | &nbsp;&nbsp;
              | {{user.email}}
            div.pull-right
              a.trash(ng-href='/admin/{{user._id}}/editUser' title='Edit user')
                span.glyphicon.glyphicon-edit &nbsp;
              a.trash(ng-click='delete(user)', ng-show="user.active" title='Desactivate user')
                span.glyphicon.glyphicon-trash
              a(ng-click='activate(user)', ng-show="!user.active" title='Activate user')
                span.glyphicon.glyphicon-check
    tab
      tab-heading
        span.glyphicon.glyphicon-user.text-muted
        | &nbsp;
        b Refunds Management
      ul.list-group.well
        li.list-group-item(ng-repeat='refund in refunds | orderBy:"role"' ng-if='refund.active')
          span.pull-left
            a.text-muted(href="/profile/{{refund.userInfos.name}}")
              img.avatar(gravatar-src="'{{refund.userInfos.email}}'", width=40)
            | &nbsp;&nbsp;&nbsp;
          span
            strong
              a.text-muted(href="/profile/{{refund.userInfos.name}}") {{refund.userInfos.name}}
              | &nbsp;
              span.label.label-danger(ng-show="refund.userInfos.role == 'admin'") Admin
              span.label.label-info(ng-show="refund.userInfos.role == 'user'") User
            br
            small.text-warning {{refund.userInfos.balance | toBTC}} BTC
            small.text-muted
              | &nbsp;&nbsp;
              | {{refund.userInfos.email}}
            div.pull-right
              a(ng-click='acceptRefund(refund)' title='Validate Refund')
                span.glyphicon.glyphicon-check &nbsp;
              a.trash(ng-click='refuseRefund(refund)' title='Reject Refund')
                span.glyphicon.glyphicon-remove &nbsp;

    tab
      tab-heading
        span.fa.fa-book.text-muted
        | &nbsp;
        b Projects Management
      ul.list-group.well
        tabset(justified='true', type="'pills'")
          tab(heading='All').tabText.label-primary
            li.list-group-item(ng-repeat='project in projects')
              strong
                span.label.label-success(ng-show="project.amountRaised >= project.amountToRaise") Finished
                span.label.label-warning(ng-show="project.amountRaised !== 0 && project.amountRaised < project.amountToRaise") Ongoing
                span.label.label-default(ng-show="project.amountRaised === 0") Not started
                | &nbsp;&nbsp;
                span {{project.name}} ({{project.amountRaised | toBTC}} / {{project.amountToRaise | toBTC}})
              br
              small.text-muted
                span Project created
                | &nbsp;
                b(am-time-ago="project.dateCreat")
                | &nbsp;
                span and finishing
                | &nbsp;
                b(am-time-ago="project.dateEndCampaign")
              .pull-right
                a(ng-href='/projects/{{project.slug}}/edit')
                  span.glyphicon.glyphicon-pencil
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a.trash(ng-click='deleteProject(project)')
                  span.glyphicon.glyphicon-trash
          tab(heading='Not Started').label-default.tabText
            li.list-group-item(ng-repeat='project in projects' ng-if='project.amountRaised === 0')
              strong
                span.label.label-success(ng-show="project.amountRaised >= project.amountToRaise") Finished
                span.label.label-warning(ng-show="project.amountRaised !== 0 && project.amountRaised < project.amountToRaise") Ongoing
                span.label.label-default(ng-show="project.amountRaised === 0") Not started
                | &nbsp;&nbsp;
                span {{project.name}} ({{project.amountRaised | toBTC}} / {{project.amountToRaise | toBTC}})
              br
              small.text-muted
                span Project created
                | &nbsp;
                b(am-time-ago="project.dateCreat")
                | &nbsp;
                span and finishing
                | &nbsp;
                b(am-time-ago="project.dateEndCampaign")
              .pull-right
                a(ng-href='/projects/{{project.slug}}/edit')
                  span.glyphicon.glyphicon-pencil
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a.trash(ng-click='deleteProject(project)')
                  span.glyphicon.glyphicon-trash
          tab(heading='Ongoing').label-warning.tabText
            li.list-group-item(ng-repeat='project in projects' ng-if='project.amountRaised !== 0 && project.amountRaised < project.amountToRaise')
              strong
                span.label.label-success(ng-show="project.amountRaised >= project.amountToRaise") Finished
                span.label.label-warning(ng-show="project.amountRaised !== 0 && project.amountRaised < project.amountToRaise") Ongoing
                span.label.label-default(ng-show="project.amountRaised === 0") Not started
                | &nbsp;&nbsp;
                span {{project.name}} ({{project.amountRaised | toBTC}} / {{project.amountToRaise | toBTC}})
              br
              small.text-muted
                span Project created
                | &nbsp;
                b(am-time-ago="project.dateCreat")
                | &nbsp;
                span and finishing
                | &nbsp;
                b(am-time-ago="project.dateEndCampaign")
              .pull-right
                a(ng-href='/projects/{{project.slug}}/edit')
                  span.glyphicon.glyphicon-pencil
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a.trash(ng-click='deleteProject(project)')
                  span.glyphicon.glyphicon-trash
          tab(heading='Expired').label-danger.tabText
            li.list-group-item(ng-repeat='project in projects', ng-if='project.amountRaised < project.amountToRaise && project.dateEndCampaign <= date')
              span(ng-if="project.length")
              strong
                span.label.label-success(ng-show="project.amountRaised >= project.amountToRaise") Finished
                span.label.label-warning(ng-show="project.amountRaised !== 0 && project.amountRaised < project.amountToRaise") Ongoing
                span.label.label-default(ng-show="project.amountRaised === 0") Not started
                | &nbsp;&nbsp;
                span {{project.name}} ({{project.amountRaised | toBTC}} / {{project.amountToRaise | toBTC}})
              br
              small.text-muted
                span Project created
                | &nbsp;
                b(am-time-ago="project.dateCreat")
                | &nbsp;
                span and finishing
                | &nbsp;
                b(am-time-ago="project.dateEndCampaign")
              .pull-right
                a(ng-href='/projects/{{project.slug}}/edit')
                  span.glyphicon.glyphicon-pencil
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a.trash(ng-click='deleteProject(project)')
                  span.glyphicon.glyphicon-trash
          tab(heading='Finished').label-success.tabText
            li.list-group-item(ng-repeat='project in projects', ng-if='project.amountRaised >= project.amountToRaise')
              strong
                span.label.label-success(ng-show="project.amountRaised >= project.amountToRaise") Finished
                span.label.label-warning(ng-show="project.amountRaised !== 0 && project.amountRaised < project.amountToRaise") Ongoing
                span.label.label-default(ng-show="project.amountRaised === 0") Not started
                | &nbsp;&nbsp;
                span {{project.name}} ({{project.amountRaised | toBTC}} / {{project.amountToRaise | toBTC}})
              br
              small.text-muted
                span Project created
                | &nbsp;
                b(am-time-ago="project.dateCreat")
                | &nbsp;
                span and finishing
                | &nbsp;
                b(am-time-ago="project.dateEndCampaign")
              .pull-right
                a(ng-href='/projects/{{project.slug}}/edit')
                  span.glyphicon.glyphicon-pencil
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a.trash(ng-click='deleteProject(project)')
                  span.glyphicon.glyphicon-trash
          tab(heading='Done').label-info.tabText
            li.list-group-item(ng-repeat='project in projects' ng-if='project.amountRaised >= project.amountToRaise && project.dateEndCampaign <= date')
              strong
                span.label.label-success(ng-show="project.amountRaised >= project.amountToRaise") Finished
                span.label.label-warning(ng-show="project.amountRaised !== 0 && project.amountRaised < project.amountToRaise") Ongoing
                span.label.label-default(ng-show="project.amountRaised === 0") Not started
                | &nbsp;&nbsp;
                span {{project.name}} ({{project.amountRaised | toBTC}} / {{project.amountToRaise | toBTC}})
              br
              small.text-muted
                span Project created
                | &nbsp;
                b(am-time-ago="project.dateCreat")
                | &nbsp;
                span and finishing
                | &nbsp;
                b(am-time-ago="project.dateEndCampaign")
              .pull-right
                a(ng-href='/projects/{{project.slug}}/edit')
                  span.glyphicon.glyphicon-pencil
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a.trash(ng-click='deleteProject(project)')
                  span.glyphicon.glyphicon-trash

  span.help-block  {{ message }}

  //- h2.page-header Manage Users

  //- h2.page-header Manage Projects

div(ng-include='"components/footer/footer.html"')
