div(ng-include='"components/navbar/navbar.html"')
#admin-tabs.container(ng-show='isAdmin()' ng-init='init()')
  h1.page-header Admin Control Panel
  tabset(justified='true')
    tab
      tab-heading
        span.glyphicon.glyphicon-user.text-muted
        | &nbsp;
        b Users Management
      ul.list-group.well
        li.list-group-item(ng-repeat='user in users | orderBy:"role"')
          admin-user-list(user='user')
          div.pull-right
            a.trash(ng-href='/admin/{{user._id}}/editUser' title='Edit user')
              span.glyphicon.glyphicon-edit &nbsp;
            a.trash(ng-click='delete(user)', ng-show="user.active" title='Desactivate user')
              span.glyphicon.glyphicon-trash
            a(ng-click='activate(user)', ng-show="!user.active" title='Activate user')
              span.glyphicon.glyphicon-check

    tab
      tab-heading
        span.glyphicon.glyphicon-user.text-muted
        | &nbsp;
        b Refunds Management
      ul.list-group.well
        li.list-group-item(ng-repeat='refund in refunds | orderBy:"role"' ng-if='refund.active')
          admin-user-list(user='refund.userInfos')
          div.pull-right
            a(ng-click='acceptRefund(refund)' title='Validate Refund')
              span.glyphicon.glyphicon-check &nbsp;
            a.trash(ng-click='refuseRefund(refund)' title='Reject Refund')
              span.glyphicon.glyphicon-remove &nbsp;

    tab
      tab-heading
        span.fa.fa-book.text-muted
        | &nbsp;
        b Projects Management
      ul.list-group.well
        tabset(justified='true', type="'pills'")
          tab(heading='All').tabText.label-primary
            li.list-group-item(ng-repeat='project in projects')
              admin-project-list

          tab(heading='Not Started').label-default.tabText
            li.list-group-item(ng-repeat='project in projects' ng-if='project.amountRaised === 0')
              admin-project-list

          tab(heading='Ongoing').label-warning.tabText
            admin-project-list

          tab(heading='Expired').label-danger.tabText
            admin-project-list

          tab(heading='Finished').label-success.tabText
            li.list-group-item(ng-repeat='project in projects', ng-if='project.amountRaised >= project.amountToRaise')
              admin-project-list

          tab(heading='Done').label-info.tabText
            li.list-group-item(ng-repeat='project in projects' ng-if='project.amountRaised >= project.amountToRaise && project.dateEndCampaign <= date')
              admin-project-list

  span.help-block  {{ message }}

  //- h2.page-header Manage Users

  //- h2.page-header Manage Projects

div(ng-include='"components/footer/footer.html"')
