div(ng-include='"components/navbar/navbar.html"')

.container
	.col-md-12
		| List of projects: {{projectsList}}

footer.footer
	.container
	p
		| Angular Fullstack v2.0.13
		= ' | '
		a(href='https://twitter.com/tyhenkel') @tyhenkel
		= ' | '
		a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues