div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-12
      h1.page-header Explore projects.
      br
    .col-md-12
      .panel.panel-default(ng-repeat="proj in projectsList")
        .panel-heading
            h3.panel-title
              i.fa.fa-book.text-muted
              &nbsp;&nbsp;
              a(ng-href="/projects/{{proj.slug}}") {{proj.name}}
              &nbsp;
              small.text-muted by {{proj.Owner}}
              span.pull-right
                div.progress
                  .progress-bar.progress-bar-success(style='width: {{100 * proj.amountRaised / proj.amountToRaise}}%;') {{100 * proj.amountRaised / proj.amountToRaise}}%
          .panel-body
            div.row
            .col-lg-8
              span {{proj.description | limitTo: 1000}}.
              &nbsp;
              a(ng-href="/projects/{{proj.slug}}") See project page.
              br
              br
              span.text-muted
                span Project started
                &nbsp;
                b(am-time-ago="proj.dateCreat")
                &nbsp;
                span and finishing
                &nbsp;
                b(am-time-ago="proj.dateEndCampaign")
            .col-lg-3.text-right
              div.project-state.well.text-center
                h2.text-success {{proj.amountRaised | toBTC}} BTC
                small raised of {{proj.amountToRaise | toBTC}} BTC goal.
              a.project-fund-btn.btn.btn-block.btn-warning(ng-href="/projects/{{proj.slug}}") Fund this project.
  .row
    .col-lg-12
      h1.page-header Any project idea you want to discuss ?
    .col-lg-12
      div(disqus="'explore_projects'")

footer.footer
  .container
  p
    | Angular Fullstack v2.0.13
    = ' | '
    a(href='https://twitter.com/tyhenkel') @tyhenkel
    = ' | '
    a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
