div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-12
      h1.page-header Explore projects.
      br
    .col-md-12
      .panel.panel-default(dir-paginate="proj in projectsList | itemsPerPage: 5")
        .panel-heading
            h3.panel-title
              i.fa.fa-book.text-muted
              &nbsp;&nbsp;
              a(ng-href="/projects/{{proj.slug}}") {{proj.name}}
              &nbsp;
              small.text-muted
                span by
                &nbsp;
                a(href="/profile/{{proj.Owner}}") {{proj.Owner}}
              span.pull-right
                div.progress
                  .progress-bar.progress-bar-success(style='width: {{100 * proj.amountRaised / proj.amountToRaise}}%;') {{100 * proj.amountRaised / proj.amountToRaise}}%
          .panel-body
            div.row
            .col-lg-8
              span {{proj.description | limitTo: 1000}}.
              &nbsp;
              a(ng-href="/projects/{{proj.slug}}") See project page.
              br
              br
              span.text-muted
                span Project started
                &nbsp;
                b(am-time-ago="proj.dateCreat")
                &nbsp;
                span and finishing
                &nbsp;
                b(am-time-ago="proj.dateEndCampaign")
            .col-lg-3.text-right
              div.project-state.well.text-center
                h2.text-success {{proj.amountRaised | toBTC}} BTC
                small raised of {{proj.amountToRaise | toBTC}} BTC goal.
              a.project-fund-btn.btn.btn-block.btn-warning(ng-href="/projects/{{proj.slug}}") Fund this project.
    div.text-center
      dir-pagination-controls(template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html")
  .row
    .col-lg-12
      h1.page-header Any project idea you want to discuss ?
    .col-lg-12
      div(disqus="'explore_projects'")

div(ng-include='"components/footer/footer.html"')
