.col-md-12
  footer.footer
    .container
      p
        | BitFunding project is powered with MEAN stack.
        = ' '
        a(href='https://github.com/gogson') @gogson
        = ', '
        a(href='https://github.com/SylTi') @SylTi
        = ', '
        a(href='https://github.com/SylTi/bitcrowfunding') @Github
