.col-md-12
  footer.footer(ng-controller="FooterCtrl")
    .container
      p
        ul.list-unstyled.pull-left.text-left(id='listAbout')
          li
            h4 About Us
          li
            a(ng-href='/whatisbitfunding') What is Bitfunding ?
          li
            a(ng-href='/press') Press
          li
            a(ng-href='/contact') Contact Us
        ul.list-unstyled.pull-left.text-left
          li
            h4 Help
          li
            a(ng-href='/faq') FAQ
          li
            a(ng-href='/tou') Terms of Use
          li
            a(ng-href='/privacypolicy') Privacy Policy
      p
        br
        br
        | BitFunding project is powered with MEAN stack.
        = ' '
        a(href='https://github.com/SylTi') @SylTi
        = ', '
        a(href='https://github.com/gogson') @gogson
        = ', '
        a(href='https://github.com/SylTi/bitcrowfunding') @Github
      p
        .text-center Send Tips @ 1BXwrAk51uNZEkRyxNLeux4GiLRL2eSdGd &nbsp;
          i.fa.fa-bitcoin
    .sticky-footer(ng-show="current_prices.bpi")
      .col-md-12
        a.btn.btn-warning.btn-xs(href="http://coindesk.com", target="_blank")
          img(src="http://www.coindesk.com/wp-content/themes/coindesk2/images/header-logo.png", height="15")
        | &nbsp;&nbsp;
        span real time BTC price
        | &nbsp;
        span.text-muted
          span (updated
          | &nbsp;
          span(am-time-ago="current_prices.time.updated")
          span )
        ul.list-inline
          span.label.label-primary
            span {{current_prices.bpi.USD.rate}}
            | &nbsp;&nbsp;
            i.fa.fa-dollar
          | &nbsp;&nbsp;&nbsp;
          span.label.label-primary
            span {{current_prices.bpi.EUR.rate}}
            | &nbsp;&nbsp;
            i.fa.fa-euro
          | &nbsp;&nbsp;&nbsp;
          span.label.label-primary
            span {{current_prices.bpi.GBP.rate}}
            | &nbsp;&nbsp;
            i.fa.fa-gbp

  br
  br
