div(ng-include='"components/navbar/navbar.html"')

.container
	.col-md-12
		form.form(name='addProjectForm', novalidate='')
			.form-group
				label Project Name
				input.form-control(type='text', name='nameProject', ng-model='project.name', required='')
			.form-group
				label Project Description
				textarea.form-control(name='descriptionProject', ng-model='project.description', required='')
			.form-group
				label Project end date
				input.form-control(name='dateEndCampaign', ng-model='project.dateEndCampaign', required='')
			.form-group
				label Amount to raise
				input.form-control(name='amountToRaise', ng-model='project.amountToRaise', required='')
			.form-group
				label Payout Adress
				input.form-control(name='OwnerBTCKey', ng-model='project.OwnerBTCKey', required='')
			button.btn.btn-success(name='buttonValidate', ng-click='addProject()') Create Project!
		p.help-block  {{ message }}