div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Crowdfund your business. with Bitcoins.
    p.lead Sign up, create your project, share it, and get BTC funds.
    i.fa.fa-btc.fa-4x

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

footer.footer
  .container
    p
      | BitFunding project is powered with MEAN stack.
      = ' '
      a(href='https://github.com/gogson') @gogson
      = ', '
      a(href='https://github.com/SylTi') @SylTi
      = ', '
      a(href='https://github.com/SylTi/bitcrowfunding') @Github
