strong
  span.label.label-info(ng-show="project.amountRaised >= project.amountToRaise && datePassed(project.dateEndCampaign)") Done
  span.label.label-danger(ng-show="project.amountRaised < project.amountToRaise && datePassed(project.dateEndCampaign)") Expired
  span.label.label-success(ng-show="project.amountRaised >= project.amountToRaise && !datePassed(project.dateEndCampaign)") Finished
  span.label.label-warning(ng-show="project.amountRaised !== 0 && project.amountRaised < project.amountToRaise && !datePassed(project.dateEndCampaign)") Ongoing
  span.label.label-default(ng-show="project.amountRaised === 0 && !datePassed(project.dateEndCampaign)") Not started
  | &nbsp;&nbsp;
  span {{project.name}} ({{project.amountRaised | toBTC}} / {{project.amountToRaise | toBTC}})
br
small.text-muted
  span Project created
  | &nbsp;
  b(am-time-ago="project.dateCreat")
  | &nbsp;
  span and finishing
  | &nbsp;
  b(am-time-ago="project.dateEndCampaign")

