
div(ng-include='"components/navbar/navbar.html"')

.col-md-1
.col-md-11
  h1 Privacy Policy

  h2 What we collect
  p In order for you to create an account on Bitfunding and use the Service, we need to collect and process some information.
  p Depending on your use of the Service, that may include:
  p information (such as your name, email and postal addresses, telephone number, and country of residence) that you provide by completing forms on the Site, including if you register as a user of the Service, subscribe to our newsletters, upload or submit any material through the Site, or request any information;
  p your login and password details, in connection with the account sign-in process;
  p details of any requests or transactions you make through the Service;
  p information about your activity on and interaction with the Site and Services, such as your IP address and the device or browser you use;
  p communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem); and
  p information that you submit to the Site in the form of comments, contributions to discussions, or messages to other users.

  h2 What's private
  p This data will not be publicly displayed or revealed to other users:
  p any payment information you provide
  p your password details
  p your IP address
  p your phone number
  p communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem)
  p We don’t give your personal information to any third-party services, except when it’s necessary to provide Bitfunding’s Service (like when we partner with payment processors).
  p We do reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect Bitfunding’s legal rights.


div(ng-include='"components/footer/footer.html"')
