div(ng-include='"components/navbar/navbar.html"')

.container(ng-controller="DashboardCtrl")
  .row
    .col-md-12
      h1.page-header Dashboard
      .col-md-6
        h2 My contributions
        div.panel.panel-default(ng-repeat="contrib in datas")
          div.panel-heading
            span.badge.badge-success {{contrib.value.contributionAmount}} BTC
            b {{contrib.value.name}}
            span project
